.my-flexbox {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
}
.my-jumbotron {
    background: url("../img/Baliii\ Jumbotron\ 1.jpg");
    width: 100%;
    padding-top: 35%;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}

.carousel-item h1 {
    padding-right: 300px;
    padding-left: 300px;
}

